/* Empty. Add your own CSS if you like */
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar{
  background: sandybrown;
  height:0px;
}
/*
- OEF - CUSTOM INKBAR COLOR
*/

.menuBar{
  width:95%;
  height:60px;
  display:block;
  position:fixed;
  top:0;
  left:0;
}
